body {
    background-color: #dee2e6;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: #495057;
    }


.profilFotom{
    background-color: red;
    font-size: 150px;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-start-start-radius: 6px;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
