

<div class="mb-2">
    <form class="example d-none d-lg-block" action="action_page.php">
        <input type="text" placeholder="Ara.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="card mb-2 d-none d-lg-block">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-8 my-2">
                <img src="~/image/kullanmalik2.jpg" class="img-fluid rounded-circle profilFotom" alt="dgnyldrm.com">
            </div>
            <div class="col-8 my-2 text-center">
                <h5 class="text-center text-black"> Software Engineering </h5>
            </div>
            <div class="col-6 text-center my-2">

                <div class="row">
                    <div class="col">
                        <img src="https://www.redkeynetwork.org/resources/Pictures/Linkedin-01.png" class="img-fluid" alt="github" />
                    </div>
                    <div class="col">
                        <img src="https://gitlab.com/uploads/-/system/group/avatar/10532272/github.png" class="img-fluid" alt="github" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>