<div class="row">
    <div class="col-lg-9"></div>
    <div class="col-md-3">
        <!--Profile-Search Kodları buraya yazıldı-->
        @await Html.PartialAsync("_ProfileCard")
        <!--Menu Kodları buraya yazıldı-->
        @await Html.PartialAsync("_Menu")
    </div>
</div>